**/squareline/backup/**
**/squareline/autosave/**

build
managed_components
sdkconfig
sdkconfig.old
compile_commands.json
.cache/

.vscode

CLAUDE.md

components/bbqr/test/test_bbqr
components/bbqr/test/test_base32
components/bbqr/test/test_miniz
