# Board: Waveshare ESP32-P4-Pico + Raspberry Pi style 800x480 MIPI DSI display
CONFIG_KERN_BOARD_P4_PICO=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_30=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
